mission "Fleet: Deploy MSD on {{ origin }}"
	name "Fleet: Deploy MSD on {{ origin }}"
	description `Deploy the Mobile Space Dock installations on the orbit of spaceport-less {{ origin }} for in-situ reparis and outfit changes. Deployed MSD dock cannot re-redeployed elsewhere unless repacked. Check MSD log to track deployment.`
	repeat
	landing
	source "{{ origin }}"
	destination "{{ origin }}"
	to offer
		has "Acquire Mobile Space Dock: done"
		has "ship model: Mobile Space Dock"
		not "Fleet: Mobile Space Dock deployed"
		not "Fleet: Mobile Space Dock deployed: {{ origin }}"
	on offer
		conversation
			`Your Mobile Space Dock vessel is orbiting the {{ origin }}. There is no spaceport to coordinate operations with. On your flagship bridge, an eager Ensign approaches You with MSD deployment checklist in hand.`
			`	"Sir!, should We deploy the Mobile Space Dock here?"`
			choice
				`	"Aye, deploy."`
					goto end
				`	"No, stand down."`
					decline
			label end
			`	Your crew starts MSD deployment operation on the orbit of {{ origin }}. Re-dock to use.`
				accept
	on accept
#		remove log "MSD log" "Deployment"
		log "MSD log" "Deployment" "MSD was deployed on <destination>. Warning, there is no spaceport in this location. Plan fuel budget accordingly."
		set "Fleet: Mobile Space Dock deployed"
		set "Fleet: Mobile Space Dock deployed: {{ origin }}"
		event "Fleet: Deploy MSD on {{ origin }}"
		fail

event "Fleet: Deploy MSD on {{ origin }}"
	planet "{{ origin }}"
		add outfitter "Mobile Space Dock Outfitter"

mission "Fleet: Pack MSD on {{ origin }}"
	name "Fleet: Pack MSD on {{ origin }}"
	description `Disassemble some Mobile Space Dock installtions on spaceport-less {{ origin }} and pack is into the MSD vessel so it can be redeployed elsewhere.`
	repeat
	landing
	source "{{ origin }}"
	destination "{{ origin }}"
	to offer
		has "Acquire Mobile Space Dock: done"
		has "ship model: Mobile Space Dock"
		has "Fleet: Mobile Space Dock deployed"
		has "Fleet: Mobile Space Dock deployed: {{ origin }}"
	on offer
		conversation
			`You watch the bridge crew as they coordinate operations with the Mobile Space Dock parked and deployed on the orbit of {{ origin }}. They have certainly way more work, as there is no spaceport here. An Ensign approaches You asking if the crew should start preparing for the MDS repacking and departure.`
			`	"Sir!, should We get the Dock ready for transport?"`
			choice
				`	"Yes, pack her."`
					goto end
				`	"No, stand down."`
					decline
			label end
			`	The crew hurries to complete the tedious checklist of MSD prepping for transport. It will take some time. Re-dock to complete procedure.`
				accept
	on accept
#		remove log "MSD log" "Deployment"
		log "MSD log" "Deployment" "The Mobile Space Dock equipment is stored onboard MSD. The ship ready for the next deployment."
		clear "Fleet: Mobile Space Dock deployed"
		clear "Fleet: Mobile Space Dock deployed: {{ origin }}"
		event "Fleet: Pack MSD on {{ origin }}"
		fail

event "Fleet: Pack MSD on {{ origin }}"
	planet "{{ origin }}"
		remove outfitter "Mobile Space Dock Outfitter"
